@charset "UTF-8";
/*
Theme Name: Digital Books
Author: TheMagnifico52
Theme URI: https://www.themagnifico.net/themes/free-books-wordpress-theme/
Author URI: https://www.themagnifico.net/
Description: Digital Books is a perfect theme for book store, education, author, selling ebooks, PDFs online, journalists, editors, publishers, course providers, online book stores, literature, library, comic book store, copywriter, journal, publisher, story, caters education, teachers, book portfolio, blogs about readers and book lovers, institutes, bookstore, book keeper, comic-con, comic subscription, marvel avengers, training academy, coaching centre, LMS, guidance, counselling centre, e-learning, kindergartens, playschools, book landing, book-storage, book series, copywriter and primary school websites. The theme has an eye-catching, sophisticated and modern design that your visitors will surely like.It has many options for customization and personalization to get you exactly the website you like. It is SEO-friendly theme that will help your website rank soon on major search engines like Google. It is implemented on bootstrap framework. You have the option to include shortcodes that will improve the functionality of your website. Also, it is a translation-ready theme that supports many local and international languages with RTL layout. The theme has faster page load time and optimized codes. The design is responsive so it can be viewed on any device. You can link all your social media pages to give credibility to your work.
Version: 0.2.5
Tested up to: 5.8
Requires PHP: 7.2
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: digital-books
Tags: custom-logo, one-column, two-columns, wide-blocks, block-styles, editor-style, sticky-post, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, threaded-comments, theme-options, rtl-language-support, left-sidebar, right-sidebar, grid-layout, blog, e-commerce, portfolio

Digital Books WordPress Theme has been created by The Magnifico(themagnifico.net), 2019.
Digital Books WordPress Theme is released under the terms of GNU GPL
*/

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #161616;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Libre Baskerville', serif;
  color: #161616;
}
pre {
  font-size: 1em;
}
a {
  color: #fbb703;
  background-color: transparent;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: 1em;
}
small {
  font-size: 80%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
img {
  border-style: none;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
  outline: 1px dotted;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Alignment CSS
 */
.alignwide {
  margin-left  : -80px;
  margin-right : -80px;
}
.alignfull {
  margin-left  : calc( -100vw / 2 + 100% / 2 );
  margin-right : calc( -100vw / 2 + 100% / 2 );
  max-width    : 100vw;
}
.alignfull img {
  width: 100vw;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
.custom-header *,
.featured-header-image * {
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */
}
.entry-content a,
.textwidget a,.comment-content a, .woocommerce-product-details__short-description a,#content-section p a {
  text-decoration: underline;
}
#masthead {
  margin-bottom: 2em;
}
.page-template-home-template #masthead {
  margin-bottom: 0;
}
.main_header {
  background: #efefef;
}

/*--------------------------------------------------------------
# Scroll Back
--------------------------------------------------------------*/
#button {
  display: inline-block;
  background-color: #fbb703;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  padding: 15px 0;
  font-weight: bold;
}
#button:hover {
  cursor: pointer;
  background-color: #000000;
}
#button:active {
  background-color: #000000;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/
.post-password-form input[type="password"] {
  margin-top: 0.4375em;
}
.search-from {
  display: flex;
  flex-flow: row wrap;
}
.top-info {
  background: #1e3237;
}
.social-link i {
  color: #fff;
  font-size: 14px;
  margin-right: 15px; 
}
a.account-btn {
  background: #fff;
  color: #000000;
  padding: 8px;
  display: inline-block;
}

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/
.navbar-brand {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}
.navbar-brand a {
  color: #161616;
}
.navbar-brand p {
  color: #161616;
  font-size: 15px;
  margin-bottom: 0;  
}
.navbar-brand h1.site-title,
p.site-title{
  margin-bottom: 0;
  font-size: 35px;
  font-weight: bold;
}

/*--------------------------------------------------------------
## Cart & Product Search
--------------------------------------------------------------*/ 
.serach_outer {
  position: relative;
  display: none;
}
.serach_inner {
  padding: 10px;
  background: #1e3237;
  z-index: 99999;
  position: absolute;
  right: 0px;
}
.serach_inner [type="submit"] {
  padding: 11px;
  background: #fbb703;
  border: none;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.serach_inner input.search-field {
  padding: 10px;
  border: none;
}
.search-box i {
  color: #161616;
  cursor: pointer;
}
.search-box,.cart_box {
  margin: 30px 0;
  text-align: center;
}
a.cart-customlocation i {
  color: #161616;
  font-size: 20px;
}
span.cart-value {
  background: #f48649;
  color: #fff;
  border-radius: 50%;
  padding: 5px 5px;
  font-size: 11px;
  font-weight: bold;
}

/*--------------------------------------------------------------
## Top Slider
--------------------------------------------------------------*/
#top-slider{
  background: #1e3237;
}
#top-slider img{
  opacity: 0.5;
}
.slider-inner-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  left: 10%;
  text-align: center;
}
.slider-inner-box h2 {
  color: #f48649;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: bold;
}
.slider-inner-box p{
  color: #fff;
}
.slide-btn a {
  background: #fbb703;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 12px;
}
.slide-btn a:hover {
  background: #f48649;
}

/*--------------------------------------------------------------
## Sticky
--------------------------------------------------------------*/
.stick_header{
  position:fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}
.admin-bar .main_header.stick_header {
  margin-top: 32px;
  background: #fff;
}

/*--------------------------------------------------------------
## Preloader
--------------------------------------------------------------*/
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  margin: 6px;
  animation: loading 2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
}

.loading {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
}    

@keyframes loading {
  0%,
  100% {
    transform: translatey(-2.5rem);
    background-color: #fff;
  }
  50% {
    transform: translatey(2.5rem);
    background-color: #ff5722;
  }
}

/*--------------------------------------------------------------
## Home Page Single Product
--------------------------------------------------------------*/

#homepage-product {
  padding: 3em 0;
}
.product-home-box h3 {
  font-size: 30px;
}
.product-home-box h3 a {
  color: #161616;
  text-transform: uppercase;
}
.product-home-box .star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  font-size: 1em;
  width: 5.4em;
  font-family: star;
  color: #fdce38;
}
.product-home-box .star-rating::before {
  content: "\73\73\73\73\73";
  color: #d3ced2;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
}
.product-home-box .star-rating span::before {
  content: "\53\53\53\53\53";
  top: 0;
  position: absolute;
  left: 0;
}
.product-home-box .star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.product-home-box .star-rating {
  display: inline-block;
}
h6.review-box {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
  display: inline-block;
}
.counter_box1,.counter_box2,.counter_box3,.counter_box4 {
  text-align: center;
  border-radius: 8px;
  padding: 25px 10px;
  margin-bottom: 25px;
}
.counter_box1 h4, .counter_box2 h4, .counter_box3 h4, .counter_box4 h4 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  border-bottom: solid 1px rgb(255,255,255,0.6);
  font-family: 'Ubuntu', sans-serif;
}
.counter_box1 h5, .counter_box2 h5, .counter_box3 h5, .counter_box4 h5 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
}
.counter_box1 {
  background: #fccc4f;
}
.counter_box2 {
  background: #f7a97f;
}
.counter_box3 {
  background: #6cbfe5;
}
.counter_box4 {
  background: #acd9ac;
}


/*--------------------------------------------------------------
## Articale
--------------------------------------------------------------*/

.article-box {
  border: solid 1px #dcdcdc;
  padding: 15px;
  margin-bottom: 25px;
}
.article-box h3.entry-title {
  font-size: 35px;
}
.sidebar .search-from,.sidebar form.woocommerce-product-search {
  padding: 10px;
}
.sidebar input[type="submit"],.sidebar button[type="submit"] {
  width: 100%;
  background: #fbb703;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
h2.entry-title,
h1.entry-title,
h2.page-title {
  font-size: 45px;
}

/*--------------------------------------------------------------
## Woocommerce Product CSS
--------------------------------------------------------------*/

.woocommerce ul.products li span.price {
  margin: 0 5px;
}
.woocommerce ul.products li.product a img{
  margin: 0;
}
p.price,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
  color: #fbb703;
  font-weight: bold;
  font-size: 14px;
}
span.onsale {
  position: absolute;
  top: 0;
  background: #fbb703;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
.pro-button a,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
  padding: 12px 15px;
  color: #fff;
  font-size: 15px;
  background: #fbb703;
}
.pro-button a:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover{
  background: #f48649;
  color: #fff;
}
ins {
  text-decoration: none;
}
.woocommerce ul.products li {
  text-align: center;
  box-shadow: 0 0 5px 2px #efefef;
  padding: 5px 5px 10px !important;
}
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
  position: absolute;
  top: 15px;
  color: #161616;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  left: 15px;
  right: auto;
  background: #fdce38;
  padding: 2px 5px;
  border-radius: 0px;
  margin: 0px;
  min-height: 20px;
  line-height: 1.5;
}
.woocommerce ul.products li.product .star-rating,.woocommerce .star-rating {
  margin: 0px auto 10px;
  color: #fdce38;
}
.woocommerce .woocommerce-ordering select {
  background: #fbb703;
  color: #fff;
  padding: 2px;
  border: 1px solid #e3e3e3;
}
.woocommerce .entry-summary {
  margin: 0;
}
.woocommerce .quantity .qty {
  padding: 8px;
  border: solid 2px #161616;
}
.woocommerce-message,
.woocommerce-info{
  border-top-color: #fbb703;
}
.woocommerce-message::before,
.woocommerce-info::before{
  color: #fbb703;
}
input[type="text"], 
input[type="email"], 
input[type="phno"], 
input[type="password"], 
textarea {
  border: 1px solid #bcbcbc;
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0 0 23px 0;
  height: auto;
}
span.woocommerce-input-wrapper,
.checkout label,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content,.woocommerce form .form-row label,span.password-input,header.page-header,nav.navigation.posts-navigation {
  width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul {
  padding: 0;
  list-style: none;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li {
  display: initial;
  background: #fbb703;
  padding: 10px;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a{
  color: #fff;
}
h2.woocommerce-loop-product__title {
  font-size: 16px !important;
  padding: 8px 0 !important;
}
.woocommerce #customer_login .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce #customer_login .col2-set .col-2, .woocommerce-page .col2-set .col-2{
  display: table-cell;
  max-width: 100%;
  float: none;
}
.woocommerce ul.products li.product .button{
  margin-top: 0;
}
.woocommerce .col-1, .woocommerce .col-2 {
  max-width: 100%;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.navigation_header {
  margin: 14px 0;
}
.main-navigation .menu {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.main-navigation .menu > li {
  display: inline;
  position: relative;
  font-size: 12px;
  font-weight: 500;
}
.main-navigation .menu > li > a {
  color: #161616;
  padding: 10px;
  text-transform: uppercase;
}
.main-navigation .menu > li > a:hover{
  color: #f48649;
}
.main-navigation .sub-menu {
  background-color: #f48649;
  list-style: none;
  padding-left: 0;
  position: absolute;
  opacity: 0;
  left: -9999px;
  z-index: 99999;
}
.main-navigation .sub-menu > li > a:hover, 
.main-navigation .sub-menu > li > a:focus {
  background: #0f1114;
}
.main-navigation .sub-menu > li {
  display: block;
  float: none;
  position: relative;
}
.main-navigation .sub-menu > li.menu-item-has-children .submenu-expand {
  display: inline-block;
  position: absolute;
  width: calc( 24px + 1rem);
  right: 0;
  top: calc( .125 * 1rem);
  bottom: 0;
  color: white;
  line-height: 1;
  padding: calc( .5 * 1rem);
}
.main-navigation .sub-menu > li.menu-item-has-children .submenu-expand {
  margin-right: 0;
}
.main-navigation .sub-menu > li > a,
.main-navigation .sub-menu > li > .menu-item-link-return {
  color: #fff;
  display: block;
  line-height: 1.2;
  text-shadow: none;
  padding: calc( .5 * 1rem) calc( 24px + 1rem) calc( .5 * 1rem) 1rem;
  white-space: nowrap;
}
.main-navigation .sub-menu > li > .menu-item-link-return {
  width: 100%;
  font-size: 22px;
  font-weight: normal;
  text-align: left;
}
.main-navigation .sub-menu > li > a:empty {
  display: none;
}
.main-navigation .sub-menu > li.mobile-parent-nav-menu-item {
  display: none;
  font-size: 0.88889em;
  font-weight: normal;
}
.main-navigation .menu .menu-item-has-children:not(.off-canvas):hover > .sub-menu,
.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus > .sub-menu,
.main-navigation .menu .menu-item-has-children.is-focused:not(.off-canvas) > .sub-menu,
.main-navigation .menu .menu-item-has-children:not(.off-canvas)[focus-within] > .sub-menum,
.main-navigation .menu .menu-item-has-children:not(.off-canvas):focus-within > .sub-menu  {
  display: block;
  left: 0;
  margin-top: 0;
  opacity: 1;
  width: auto;
  min-width: 100%;
}

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
/* Next/Previous navigation */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
.comment-content.card-block {
  padding: 20px;
}
.navigation.post-navigation {
  padding-top: 1.875rem;
}
.post-navigation .nav-previous a,
.post-navigation .nav-next a,
.posts-navigation .nav-previous a,
.posts-navigation .nav-next a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0.98rem;
  -moz-border-radius: 0.98rem;
  border-radius: 0.98rem;
  display: inline-block;
  padding: 0.313rem 0.875rem;
  background: white;
}
.post-navigation .nav-previous a:hover,
.post-navigation .nav-next a:hover,
.posts-navigation .nav-previous a:hover,
.posts-navigation .nav-next a:hover {
  background: #fbb703;
  color: white;
  border: 1px solid #fbb703;
}
.post-navigation .nav-next a::after,
.posts-navigation .nav-next a::after {
  content: " \2192  ";
}
.post-navigation .nav-previous a::before,
.posts-navigation .nav-previous a::before {
  content: "\2190  ";
}
.navigation.pagination {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
  border: 1px solid #ddd;
  -webkit-border-radius: 0.98rem;
  -moz-border-radius: 0.98rem;
  border-radius: 0.98rem;
  display: inline-block;
  padding: 0.13rem 0.875rem;
  background: white;
}
.navigation.pagination .nav-links a.current, .navigation.pagination .nav-links a:hover,
.navigation.pagination .nav-links span.current,
.navigation.pagination .nav-links span:hover {
  background: #fbb703;
  color: white;
  border: 1px solid #fbb703;
}

@media screen and (max-width: 560px) {
  .navigation.post-navigation .nav-links {
    display: flex;
    flex-flow: column wrap;
  }
  .navigation.post-navigation .nav-links .nav-previous,
  .navigation.post-navigation .nav-links .nav-next {
    margin-bottom: 14px;
    width: 100%;
    float: none;
    text-align: start;
  }
}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

a img .alignright {
  float: right;
  margin: 0.313rem 0 1.25rem 1.25rem;
}

a img .alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img .alignleft {
  float: left;
  margin: 0.313rem 1.25rem 1.25rem 0;
}

a img .aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .alignnone {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption .alignleft {
  margin: 0.313rem 1.25rem 1.25rem 0;
}

.wp-caption .alignright {
  margin: 0.313rem 0 1.25rem 1.25rem;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.module-border-wrap {
  -moz-border-image: -moz-linear-gradient(to bottom left, #19b094 0%, #fbb703 100%);
  -webkit-border-image: -webkit-linear-gradient(to bottom left, #19b094 0%, #fbb703 100%);
  border-image: linear-gradient(to bottom left, #19b094 0%, #fbb703 100%) 1;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-form-url input{
  width: 100%;
}
.comment-respond input#submit {
  background: #fbb703;
  border: none;
  color: #fff;
  padding: 10px;
  font-weight: 600;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.comments-title {
  font-size: 1.125rem;
}
.comment-body .pull-left {
  padding-right: 0.625rem;
}
.comment-list {
  padding-left: 0;
}
.comment-list .comment {
  display: block;
}
.comment-list .pingback {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.563rem 0;
}
.comment-list .pingback a {
  margin-left: 5px;
  margin-right: 5px;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky .entry-title {
  position: relative;
  margin-left: 2px;
}
.sticky .entry-title::before {
  content: '\f08d';
  font-family: "Font Awesome\ 5 Free";
  font-size: 1.2rem;
  left: -1rem;
  top: 0.375rem;
  font-weight: 900;
  background: #fbb703;
  padding: 10px 15px;
  color: #fff;
  margin-right: 10px;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.posted-on,
.byline,
.comments-link {
  color: #9a9a9a;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
#colophon {
  background:#1e3237;
  color: #fff;
}
#colophon a {
  color: #fff;
}
#colophon a:hover, #colophon a:focus {
  color: #fbb703;
}
#colophon ul {
  list-style: none;
  padding-left: 0;
}
#colophon li{
  display: inline-block;;
}
.site-info {
  padding: 15px 0;
}
.footer-menu-left {
  text-align: right;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget a:hover, .widget a:focus {
  color: #fbb703;
}
.widget ul li.recentcomments {
  display: block;
  padding: 5px 15px;
}
.widget .gallery-item,
.textwidget {
  padding: 10px;
}
.widget #wp-calendar caption {
  caption-side: top !important;
  padding-top: 0;
}
.widget #wp-calendar tbody tr td {
  padding: .5rem;
}
.widget #wp-calendar tfoot {
  text-align: center;
}
.half-rule {
  margin: 2.5rem 0;
  width: 6rem;
}
.sidebar section {
  border: solid 1px #dcdcdc;
  margin-bottom: 30px;
  background: #f5f5f5;
}
.sidebar h5 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;  
  background: #fbb703;
  padding: 15px 10px;
  margin-bottom: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;  
}
.sidebar li {
  color: #161616;
  line-height: 20px;
  padding: 10px;
  font-size: 14px;
  border-bottom: solid 1px #e1e1e1;
}
.sidebar ul li a:hover {
  color: #fbb703;
}
.sidebar ul li a {
  color: #161616;
}
.sidebar .textwidget img,
.sidebar .form-group {
  width: 100%;
  height: auto;
}
.sidebar select {
  padding: 10px;
  border: solid 1px #e3e3e3;
  background: transparent;
  font-size: 14px;
  width: 100%;
  color: #161616;
}
.sidebar .tagcloud a {
  border: 1px solid #e3e3e3;
  color: #161616;
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px !important;
  display: inline-block;
  margin-bottom: 5px;
}
.sidebar .tagcloud a:hover{
  background: #fbb703;
  color: #fff;
}
.sidebar .tagcloud {
  margin-top: 15px;
}
.sidebar input[type="search"]{
  padding: 10px;
  width: 100%;
  border: solid 1px #dcdcdc;
  font-size: 15px;
}
.sidebar button[type="submit"] {
  padding: 8px;
  width: 100%;
  margin-top: 10px;
  color: #fff;
}
.sidebar table#wp-calendar {
  border: solid 1px #e3e3e3;
  text-align: center;
  margin-top: 15px;
  width: 100%;
}
.sidebar th,#theme-sidebar td {
  border-right: solid 1px #e3e3e3;
  padding: 10px 0;
}
.sidebar tr {
  border-bottom: solid 1px #e3e3e3;
}

/*--------------------------------------------------------------
# Infinite Scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.post-thumbnail {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  background-color: #fff;
  border: 1px solid #dee2e6;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  height: auto;
  max-width: 100%;
  padding: 0.25rem;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.wp-caption-text {
  color: #686868;
  font-size: 13px;
  font-size: 0.8125rem;
  text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}
.gallery-caption {
  display: block;
}
ul.comment-list .comment .media-body {overflow: auto;}
.toggle-nav.mobile-menu,
a.closebtn.mobile-menu {
  display: none;
}

@media screen and (max-width: 720px){
  .social-link,.main_header,.footer-menu-left,#homepage-product{
    text-align: center;
  }
  .slider-inner-box {
    clip-path:none;
    background: transparent;
    right: 10%;
    left: 10%;
    padding: 0;
  }
  .slider-inner-box h2{
    font-size: 20px;
  }
  .slider-inner-box p{
    display: none;
  }
  .stick_header{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 999px){
  .slider-inner-box {
    right: 10%;
    left: 10%;
    clip-path: none;
    background: transparent;
    padding: 0;
  }
}

@media screen and (max-width: 1000px){
  .main-navigation .sub-menu{
    background: transparent !important;
  }
  .toggle-nav {
    display: none;
    cursor: pointer;
    z-index: 999999;
  }
  .toggle-nav i {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
    background: #fbb703;
  }
  .toggle-nav button {
    border: none;
    background: transparent;
  }
  .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    right: 0;
    top: 110%;
    overflow-x: hidden; 
    transition: 0.5s ;
    overflow-y: scroll;
    background: #0f1114;
    visibility: hidden;
  }
  .sidenav.show {
    visibility: visible;
    top:0%;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 30px;
    margin-left: 10px;
    display: block;
    color: #ffffff;
    border:none;
    background: transparent;
  }
  .sidenav #site-navigation {
    width: 100%;
  }
  .toggle-nav,
  .toggle-nav.mobile-menu,
  a.closebtn.mobile-menu,
  .main-navigation ul ul li,
  .nav ul li a{
    display: block;
  }
  .main-navigation .menu {
    text-align: left;
  }
  .nav ul li ul,
  .nav ul li ul ul{ 
    display:block !important;
  }
  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }
  .nav ul li ul li a{
    padding-left:20px !important;
  }
  .nav ul li ul li ul li a{
    padding-left:30px !important;
  }  
  .nav ul li ul, 
  .nav ul li ul ul {
    display: block !important;
    opacity: 1 !important;
  }
  .main-navigation ul ul{
    position: static;
    width: 100%;
  }
  .main-navigation li{
    padding: 0;
  }
  .main-navigation .sub-menu{
    position: static;
    background: transparent;
  }
  .main-navigation .menu > li > a {
    color: #fff;
  }
}