/*
Theme Name: ShopMax
Theme URI: https://burgerthemes.com/shopmax-free/
Author: burgersoftware
Author URI: https://burgerthemes.com/
Description: ShopMax is a flexible and attractive WooCommerce WordPress theme. The theme includes powerful sections with an innovative design that would easily fit into your new or existing online store. Suitable for every type of store. Checkout Pro Version https://burgerthemes.com/demo/pro/shopmax/
Template: storebiz
Version: 1.0.4
Tested up to: 5.9
Requires PHP: 5.6
License: GPLv3 or later
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Text Domain: shopmax
Slug: shopmax
Tags: one-column, two-columns, left-sidebar, right-sidebar, flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, blog, grid-layout, portfolio, photography

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

*/


/* Colors */

:root {
    --bs-black:#000000;
    --bs-blue:#0d6efd;
    --bs-indigo:#6610f2;
    --bs-purple:#6f42c1;
    --bs-pink:#d63384;
    --bs-red:#dc221c;
    --bs-orange:#fd7e14;
    --bs-orange-dark:#ee4a34;
    --bs-orange-dark-light:#fae4df;
    --bs-yellow:#ffcc00;
    --bs-green:#28a745;
    --bs-teal:#20c997;
    --bs-cyan:#17a2b8;
    --bs-white:#ffffff;
    --bs-gray:#dedede;
    --bs-gray-light: #e1e1e1;
    --bs-gray-dark:#343a40;
    --bs-primary:#1CCDCA;
    --bs-primary-dark:#429493;
    --bs-primary-light: #fbf0f0;
    --bs-primary-shadow:rgb(0 123 255 / 0.5);
    --bs-secondary:#24272e;
    --bs-secondary-dark: #1f2120;
    --bs-gray-500: #f2f2f2;
    --bs-gray-500-thumb: #c2c2c2;
    --bs-success:#28a745;
    --bs-info:#17a2b8;
    --bs-warning:#ffc107;
    --bs-danger:#dc3545;
    --bs-light:#f8f9fa;
    --bs-dark:#343a40;
    --bs-font-sans-serif:'Karla',system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-font-awesome: "FontAwesome";
    --bs-gradient:linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --bs-gradient-image:linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --bs-shadow: 2px 5px 20px rgba(0, 0, 0, .2);
    --bs-radius: 0.1875rem;
    --bs-theme-radius: 6.25rem;
    --bs-transition: all .35s cubic-bezier(.645,.045,.355,1);
    --bs-transition-slow: all .55s cubic-bezier(.645,.045,.355,1);
    --bs-transition-very-slow: all .75s cubic-bezier(.645,.045,.355,1);
}

.single-info img {
    width: 100%;
}