a.button.button-primary.get,a.button.button-primary.get:active,a.button.button-primary.get:focus,a.button.button-primary.get:hover,a.button.button-primary.get:visited{
	background:#fc3656 !important;
}
a.button.button-primary.get:hover{
	background: #fbb703 !important;
	color: #fc3656 !important;
}
thead {
    background: #fc3656 !important;
}
